@{
    ViewData["Title"] = "TP3";
}

<div class="text-center">
    <h1 class="display-4">TP3 C# - Programa 2</h1>
    <p>
        Desenvolva uma aplicação que modele um relacionamento um-para-um entre Pessoa e Passaporte. A aplicação deve: Criar uma pessoa, Criar um passaporte, Associar um passaporte a uma pessoa, Listar pessoas com seus respectivos passaportes
    </p>
    <a class="nav-link " asp-area="" asp-controller="Pessoas" asp-action="Index">Pessoas</a>
    <a class="nav-link " asp-area="" asp-controller="Passaportes" asp-action="Index">Passaportes</a>
</div>
